
#app {
  h2::after {
    content: none;
  }
}

header .dropdown a.dropdown-item {
  background: none;

  &:hover, &:focus, &:active {
    background: var(--f-g1);
  }
}

#alt {
  text-align: center;
  max-width: 850px;
  margin: 30px auto;

  ul {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      width: 140px;
      font-size: 12px;
      margin: 10px;

      a {
        font-size: 16px;
        line-height: 30px;
        background: none;
      }
    }
  }

  p {
    clear: left;
    margin-top: 20px;
    padding: 0 1rem;
  }

  .alert a {
    color: inherit;
  }
}

#building {
  img {
    width: 40%;
    display: block;
    margin: 1rem auto;
    border-radius: 10px;
  }
}